body {
    font-family: Arial, sans-serif;
}
    
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
label {
    display: block;
    margin-bottom: 5px;
    }
    
 input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    }
    
.output {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    }
