*{
    border-color: rgb(85, 63, 36);
    background-color: rgb(243, 237, 230);
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    background-color: rgb(235, 209, 125);
    }
textarea {
    width: 200px;
    height: 100px;
 }
